:root {
    --slate-900: #1F314F;       /* primary color */
    --slate-500: #68778D;       /* secondary color */
    --slate-300: #333;          /* accent color */
  }

.outfit-bold {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.outfit-regular {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}